DAYONE_STORAGE=mongodb
DAYONE_MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER/?retryWrites=true&w=majority
DAYONE_MONGODB_DATABASE=dayone
DAYONE_ENCRYPTION_KEY=
DAYONE_API_TOKEN=
DAYONE_EXTRACTOR=external
DAYONE_TEST_MONGODB_URI=
